.event {
  margin-top: 20px;
}
.event span {
  color: red;
}
.creator-info {
  width:calc(100% - 24px);
  border: 2px solid grey;
  border-top: 0;padding: 10px;
}
.code-block {
  margin-top: 20px;
}
.mb-10px {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
